<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.box.business.MediaDraftMapper">
  <resultMap id="BaseResultMap" type="com.boot.box.business.MediaDraft">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="data_source_platform" jdbcType="TINYINT" property="dataSourcePlatform" />
    <result column="source_media_id" jdbcType="VARCHAR" property="sourceMediaId" />
    <result column="season_id" jdbcType="INTEGER" property="seasonId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="season_type" jdbcType="TINYINT" property="seasonType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="styles" jdbcType="VARCHAR" property="styles" />
    <result column="areas" jdbcType="VARCHAR" property="areas" />
    <result column="media_language" jdbcType="VARCHAR" property="mediaLanguage" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="release_year" jdbcType="VARCHAR" property="releaseYear" />
    <result column="release_date" jdbcType="VARCHAR" property="releaseDate" />
    <result column="producers" jdbcType="VARCHAR" property="producers" />
    <result column="directors" jdbcType="VARCHAR" property="directors" />
    <result column="screenwriters" jdbcType="VARCHAR" property="screenwriters" />
    <result column="actors" jdbcType="VARCHAR" property="actors" />
    <result column="directors_ids" jdbcType="VARCHAR" property="directorsIds" />
    <result column="screenwriters_ids" jdbcType="VARCHAR" property="screenwritersIds" />
    <result column="actors_ids" jdbcType="VARCHAR" property="actorsIds" />
    <result column="total" jdbcType="SMALLINT" property="total" />
    <result column="video_length" jdbcType="VARCHAR" property="videoLength" />
    <result column="award" jdbcType="VARCHAR" property="award" />
    <result column="rating" jdbcType="DOUBLE" property="rating" />
    <result column="rating_people_num" jdbcType="BIGINT" property="ratingPeopleNum" />
    <result column="short_rating_num" jdbcType="BIGINT" property="shortRatingNum" />
    <result column="review_rating_num" jdbcType="BIGINT" property="reviewRatingNum" />
    <result column="watching_num" jdbcType="BIGINT" property="watchingNum" />
    <result column="watched_num" jdbcType="BIGINT" property="watchedNum" />
    <result column="want_num" jdbcType="BIGINT" property="wantNum" />
    <result column="hot_num" jdbcType="BIGINT" property="hotNum" />
    <result column="imdb" jdbcType="VARCHAR" property="imdb" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="roles" jdbcType="VARCHAR" property="roles" />
  </resultMap>
  <sql id="Base_Column_List">
    id, data_source_platform, source_media_id, season_id, title, alias, season_type, 
    description, styles, areas, media_language, tags, release_year, release_date, producers, 
    directors, screenwriters, actors, directors_ids, screenwriters_ids, actors_ids, total, 
    video_length, award, rating, rating_people_num, short_rating_num, review_rating_num, 
    watching_num, watched_num, want_num, hot_num, imdb, mark, ctime, mtime, created_by, 
    updated_by, version, is_delete, roles
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_media_draft
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_media_draft
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.boot.box.business.MediaDraft">
    insert into t_media_draft (id, data_source_platform, source_media_id, 
      season_id, title, alias, 
      season_type, description, styles, 
      areas, media_language, tags, 
      release_year, release_date, producers, 
      directors, screenwriters, actors, 
      directors_ids, screenwriters_ids, actors_ids, 
      total, video_length, award, 
      rating, rating_people_num, short_rating_num, 
      review_rating_num, watching_num, watched_num, 
      want_num, hot_num, imdb, 
      mark, ctime, mtime, 
      created_by, updated_by, version, 
      is_delete, roles)
    values (#{id,jdbcType=INTEGER}, #{dataSourcePlatform,jdbcType=TINYINT}, #{sourceMediaId,jdbcType=VARCHAR}, 
      #{seasonId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{seasonType,jdbcType=TINYINT}, #{description,jdbcType=VARCHAR}, #{styles,jdbcType=VARCHAR}, 
      #{areas,jdbcType=VARCHAR}, #{mediaLanguage,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, 
      #{releaseYear,jdbcType=VARCHAR}, #{releaseDate,jdbcType=VARCHAR}, #{producers,jdbcType=VARCHAR}, 
      #{directors,jdbcType=VARCHAR}, #{screenwriters,jdbcType=VARCHAR}, #{actors,jdbcType=VARCHAR}, 
      #{directorsIds,jdbcType=VARCHAR}, #{screenwritersIds,jdbcType=VARCHAR}, #{actorsIds,jdbcType=VARCHAR}, 
      #{total,jdbcType=SMALLINT}, #{videoLength,jdbcType=VARCHAR}, #{award,jdbcType=VARCHAR}, 
      #{rating,jdbcType=DOUBLE}, #{ratingPeopleNum,jdbcType=BIGINT}, #{shortRatingNum,jdbcType=BIGINT}, 
      #{reviewRatingNum,jdbcType=BIGINT}, #{watchingNum,jdbcType=BIGINT}, #{watchedNum,jdbcType=BIGINT}, 
      #{wantNum,jdbcType=BIGINT}, #{hotNum,jdbcType=BIGINT}, #{imdb,jdbcType=VARCHAR}, 
      #{mark,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=TINYINT}, #{roles,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.boot.box.business.MediaDraft">
    insert into t_media_draft
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dataSourcePlatform != null">
        data_source_platform,
      </if>
      <if test="sourceMediaId != null">
        source_media_id,
      </if>
      <if test="seasonId != null">
        season_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="seasonType != null">
        season_type,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="styles != null">
        styles,
      </if>
      <if test="areas != null">
        areas,
      </if>
      <if test="mediaLanguage != null">
        media_language,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="releaseYear != null">
        release_year,
      </if>
      <if test="releaseDate != null">
        release_date,
      </if>
      <if test="producers != null">
        producers,
      </if>
      <if test="directors != null">
        directors,
      </if>
      <if test="screenwriters != null">
        screenwriters,
      </if>
      <if test="actors != null">
        actors,
      </if>
      <if test="directorsIds != null">
        directors_ids,
      </if>
      <if test="screenwritersIds != null">
        screenwriters_ids,
      </if>
      <if test="actorsIds != null">
        actors_ids,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="videoLength != null">
        video_length,
      </if>
      <if test="award != null">
        award,
      </if>
      <if test="rating != null">
        rating,
      </if>
      <if test="ratingPeopleNum != null">
        rating_people_num,
      </if>
      <if test="shortRatingNum != null">
        short_rating_num,
      </if>
      <if test="reviewRatingNum != null">
        review_rating_num,
      </if>
      <if test="watchingNum != null">
        watching_num,
      </if>
      <if test="watchedNum != null">
        watched_num,
      </if>
      <if test="wantNum != null">
        want_num,
      </if>
      <if test="hotNum != null">
        hot_num,
      </if>
      <if test="imdb != null">
        imdb,
      </if>
      <if test="mark != null">
        mark,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="roles != null">
        roles,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dataSourcePlatform != null">
        #{dataSourcePlatform,jdbcType=TINYINT},
      </if>
      <if test="sourceMediaId != null">
        #{sourceMediaId,jdbcType=VARCHAR},
      </if>
      <if test="seasonId != null">
        #{seasonId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="seasonType != null">
        #{seasonType,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="styles != null">
        #{styles,jdbcType=VARCHAR},
      </if>
      <if test="areas != null">
        #{areas,jdbcType=VARCHAR},
      </if>
      <if test="mediaLanguage != null">
        #{mediaLanguage,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="releaseYear != null">
        #{releaseYear,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="producers != null">
        #{producers,jdbcType=VARCHAR},
      </if>
      <if test="directors != null">
        #{directors,jdbcType=VARCHAR},
      </if>
      <if test="screenwriters != null">
        #{screenwriters,jdbcType=VARCHAR},
      </if>
      <if test="actors != null">
        #{actors,jdbcType=VARCHAR},
      </if>
      <if test="directorsIds != null">
        #{directorsIds,jdbcType=VARCHAR},
      </if>
      <if test="screenwritersIds != null">
        #{screenwritersIds,jdbcType=VARCHAR},
      </if>
      <if test="actorsIds != null">
        #{actorsIds,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=SMALLINT},
      </if>
      <if test="videoLength != null">
        #{videoLength,jdbcType=VARCHAR},
      </if>
      <if test="award != null">
        #{award,jdbcType=VARCHAR},
      </if>
      <if test="rating != null">
        #{rating,jdbcType=DOUBLE},
      </if>
      <if test="ratingPeopleNum != null">
        #{ratingPeopleNum,jdbcType=BIGINT},
      </if>
      <if test="shortRatingNum != null">
        #{shortRatingNum,jdbcType=BIGINT},
      </if>
      <if test="reviewRatingNum != null">
        #{reviewRatingNum,jdbcType=BIGINT},
      </if>
      <if test="watchingNum != null">
        #{watchingNum,jdbcType=BIGINT},
      </if>
      <if test="watchedNum != null">
        #{watchedNum,jdbcType=BIGINT},
      </if>
      <if test="wantNum != null">
        #{wantNum,jdbcType=BIGINT},
      </if>
      <if test="hotNum != null">
        #{hotNum,jdbcType=BIGINT},
      </if>
      <if test="imdb != null">
        #{imdb,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="roles != null">
        #{roles,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boot.box.business.MediaDraft">
    update t_media_draft
    <set>
      <if test="dataSourcePlatform != null">
        data_source_platform = #{dataSourcePlatform,jdbcType=TINYINT},
      </if>
      <if test="sourceMediaId != null">
        source_media_id = #{sourceMediaId,jdbcType=VARCHAR},
      </if>
      <if test="seasonId != null">
        season_id = #{seasonId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="seasonType != null">
        season_type = #{seasonType,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="styles != null">
        styles = #{styles,jdbcType=VARCHAR},
      </if>
      <if test="areas != null">
        areas = #{areas,jdbcType=VARCHAR},
      </if>
      <if test="mediaLanguage != null">
        media_language = #{mediaLanguage,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="releaseYear != null">
        release_year = #{releaseYear,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        release_date = #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="producers != null">
        producers = #{producers,jdbcType=VARCHAR},
      </if>
      <if test="directors != null">
        directors = #{directors,jdbcType=VARCHAR},
      </if>
      <if test="screenwriters != null">
        screenwriters = #{screenwriters,jdbcType=VARCHAR},
      </if>
      <if test="actors != null">
        actors = #{actors,jdbcType=VARCHAR},
      </if>
      <if test="directorsIds != null">
        directors_ids = #{directorsIds,jdbcType=VARCHAR},
      </if>
      <if test="screenwritersIds != null">
        screenwriters_ids = #{screenwritersIds,jdbcType=VARCHAR},
      </if>
      <if test="actorsIds != null">
        actors_ids = #{actorsIds,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=SMALLINT},
      </if>
      <if test="videoLength != null">
        video_length = #{videoLength,jdbcType=VARCHAR},
      </if>
      <if test="award != null">
        award = #{award,jdbcType=VARCHAR},
      </if>
      <if test="rating != null">
        rating = #{rating,jdbcType=DOUBLE},
      </if>
      <if test="ratingPeopleNum != null">
        rating_people_num = #{ratingPeopleNum,jdbcType=BIGINT},
      </if>
      <if test="shortRatingNum != null">
        short_rating_num = #{shortRatingNum,jdbcType=BIGINT},
      </if>
      <if test="reviewRatingNum != null">
        review_rating_num = #{reviewRatingNum,jdbcType=BIGINT},
      </if>
      <if test="watchingNum != null">
        watching_num = #{watchingNum,jdbcType=BIGINT},
      </if>
      <if test="watchedNum != null">
        watched_num = #{watchedNum,jdbcType=BIGINT},
      </if>
      <if test="wantNum != null">
        want_num = #{wantNum,jdbcType=BIGINT},
      </if>
      <if test="hotNum != null">
        hot_num = #{hotNum,jdbcType=BIGINT},
      </if>
      <if test="imdb != null">
        imdb = #{imdb,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="roles != null">
        roles = #{roles,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boot.box.business.MediaDraft">
    update t_media_draft
    set data_source_platform = #{dataSourcePlatform,jdbcType=TINYINT},
      source_media_id = #{sourceMediaId,jdbcType=VARCHAR},
      season_id = #{seasonId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      season_type = #{seasonType,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR},
      styles = #{styles,jdbcType=VARCHAR},
      areas = #{areas,jdbcType=VARCHAR},
      media_language = #{mediaLanguage,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      release_year = #{releaseYear,jdbcType=VARCHAR},
      release_date = #{releaseDate,jdbcType=VARCHAR},
      producers = #{producers,jdbcType=VARCHAR},
      directors = #{directors,jdbcType=VARCHAR},
      screenwriters = #{screenwriters,jdbcType=VARCHAR},
      actors = #{actors,jdbcType=VARCHAR},
      directors_ids = #{directorsIds,jdbcType=VARCHAR},
      screenwriters_ids = #{screenwritersIds,jdbcType=VARCHAR},
      actors_ids = #{actorsIds,jdbcType=VARCHAR},
      total = #{total,jdbcType=SMALLINT},
      video_length = #{videoLength,jdbcType=VARCHAR},
      award = #{award,jdbcType=VARCHAR},
      rating = #{rating,jdbcType=DOUBLE},
      rating_people_num = #{ratingPeopleNum,jdbcType=BIGINT},
      short_rating_num = #{shortRatingNum,jdbcType=BIGINT},
      review_rating_num = #{reviewRatingNum,jdbcType=BIGINT},
      watching_num = #{watchingNum,jdbcType=BIGINT},
      watched_num = #{watchedNum,jdbcType=BIGINT},
      want_num = #{wantNum,jdbcType=BIGINT},
      hot_num = #{hotNum,jdbcType=BIGINT},
      imdb = #{imdb,jdbcType=VARCHAR},
      mark = #{mark,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=TINYINT},
      roles = #{roles,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>